.rdw-colorpicker-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  position: relative;
}
.colorpicker-wrapper{
  position: relative;
  align-items: center;
  z-index:999;
}
.rdw-colorpicker-modal{
  position: absolute;
  margin-top: 4px;

}
