.rdw-option-wrapper {
  padding: 5px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
}
.rdw-option-wrapper:hover {
  color: #222;
  background-color: #f2f2f2;
}
.rdw-option-wrapper:active {
  color: #222;
  background-color: #f2f2f2;
}
.rdw-option-active {
  color: #222;
  background-color: #f2f2f2;
}
.rdw-option-disabled {
  opacity: 0.3;
  cursor: default;
}
