.rdw-fontsize-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.rdw-fontsize-dropdown {
  width:58px;
}
.rdw-fontsize-option {
  display: flex;
  justify-content: center;
}
.rdw-fontsize-optionwrapper {
  width: 80px;
}
